black  # Для автоматического форматирования кода
ruff   # Очень быстрый линтер для поиска ошибок
pytest # Для написания тестов
pre-commit # Для запуска хуков перед коммитом
pyinstaller # Для сборки .exe
pyinstaller-hooks-contrib # Помощник для сборки Kivy-приложений